/* Style for the container row */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for the button */
button {
  margin: 10px;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Hover effect for the button */
button:hover {
  background-color: #17df43;
}
